<div class="col-span-6 sm:col-span-3">
    <label for="firstname" class="block text-sm font-medium text-gray-700">First Name</label>
    <input type="text" id="firstname" name="first_name" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
</div>
<div class="col-span-6 sm:col-span-3">
    <label for="lastname" class="block text-sm font-medium text-gray-700">Last Name</label>
    <input type="text" id="lastname" name="last_name" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
</div>
<div class="col-span-6">
    <label for="companyname" class="block text-sm font-medium text-gray-700">Company Name</label>
    <input type="text" id="companyname" name="company_name" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
</div>

<div class="col-span-6">
    <label for="company_type" class="block text-sm font-medium text-gray-700">Company Type</label>
    <input type="text" id="company_type" name="company_type" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
</div>
<div class="col-span-6">
    <label for="industry" class="block text-sm font-medium text-gray-700">Industry</label>
    <input type="text" id="industry" name="industry" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
</div>
<div class="col-span-6">
    <label for="email" class="block text-sm font-medium text-gray-700">Corporate Email</label>
    <input type="email" id="email" name="email" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
</div>
<div class="col-span-6 sm:col-span-3">
    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
    <input type="password" id="password" name="password" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
</div>
<div class="col-span-6 sm:col-span-3">
    <label for="passwordconfirmation" class="block text-sm font-medium text-gray-700">Password Confirmation</label>
    <input type="password" id="passwordconfirmation" name="password_confirmation" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
</div>
<div class="col-span-6">
    <label for="MarketingAccept" class="flex gap-4">
        <input type="checkbox" id="MarketingAccept" name="marketing_accept" class="size-5 rounded-md border-gray-200 bg-white shadow-sm" />
        <span class="text-sm text-gray-700">I want to receive emails about events, product updates and company announcements.</span>
    </label>
</div>
<div class="col-span-6">
    <p class="text-sm text-gray-500">
        By creating an account, you agree to our
        <a href="#" class="text-gray-700 underline">terms and conditions</a> and
        <a href="#" class="text-gray-700 underline">privacy policy</a>.
    </p>
</div>
<div class="col-span-6 sm:flex sm:items-center sm:gap-4">
    <button class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500">
        Create an account
    </button>
    <p class="mt-4 text-sm text-gray-500 sm:mt-0">
        Already have an account? <a href="/signin" class="text-gray-700 underline">Log in</a>.
    </p>
</div>